[package]
name = "baboon-zed"
version = "0.1.0"
edition = "2021"
license = "MIT"
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
zed_extension_api = "0.4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
